{% extends 'layouts/admin.twig' %}

{% block content %}

<div class="container">
    <div class="row mt-5">
         <div class="col-6">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class='row mt-5'>
        <div class="col-2">
            <button type="button" onclick="location.href='/admin/ajouter-article'" class="btn btn-success">Ajouter un article</button>
        </div>
    </div>
</div>

{% endblock %}