$theme-colors: (
  "primary": #ffb400,
  "danger": #ff4136,
  "dark": #3c3535,
  "success": #198754,
);

:root {
  --color-highlight-primary: #ffef7e;
  --color-highlight-secondary: #b7f9e9;
}

$primary: #ffb400;
$dark: #3c3535;
