  <div class="flex-shrink-0 p-3 bg-white border" style="width: 280px;">
    <a href="/dashboard" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold">Admin</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <a href="/dashboard" class="link-dark d-inline-flex text-decoration-none rounded">Dashboard</a>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <a href="/admin/mes-articles" class="link-dark d-inline-flex text-decoration-none rounded">Tous les articles</a>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <a href="/admin/les-commentaires" class="link-dark d-inline-flex text-decoration-none rounded">Les commentaires</a>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">Utilisateurs</li>
    </ul>
  </div>